div {
  display: flex;
  flex-flow: row wrap;
}

div mat-form-field {
  flex: 1 100%;
  margin: 5px;
}

div.test .small {
  flex: 1 auto;
}

div.test .large {
  flex: 1 70%;
}

button {
  margin-top: 5px;
}
