<h1>{{ isCheckInComplete ? 'Check-In erfolgreich' : 'Passagiere einchecken' }}</h1>
<mat-card appHoverClass hoverClass="mat-elevation-z8" *ngIf="flight; else loading">
    <mat-card-content>
        <app-flight-info [time]="flight.startTime" [timezone]="flight.startTimezone" [location]="flight.start"></app-flight-info>
        <p class="duration">{{getDuration()}}</p>
        <app-flight-info [time]="flight.arrivalTime" [timezone]="flight.destinationTimezone" [location]="flight.destination"></app-flight-info>
    </mat-card-content>
</mat-card>
<p *ngIf="isCheckInComplete">
    Der Check-In war erfolgreich und die Boardingpässe können heruntergeladen werden.
</p>
<ng-container *ngIf="passengers; else loading">
    <app-check-in-info *ngFor="let passenger of passengers"
                       [passenger]="passenger"
                       (download)="onDownload(passenger)"
                       (onCheckIn)="checkIn($event)"
    ></app-check-in-info>
</ng-container>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
