<h1 mat-dialog-title>Passwort ändern</h1>
<mat-error *ngIf="changePasswordForm?.errors?.password">
    Die Passwörter müssen übereinstimmen.
</mat-error>
<mat-dialog-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input type="password" matInput placeholder="Passwort" formControlName="oldPassword">
            <mat-error *ngIf="changePasswordForm?.get('oldPassword')?.errors?.required">
                Dieses Feld muss ausgefüllt sein.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Passwort" formControlName="password">
            <mat-error *ngIf="changePasswordForm?.get('password')?.errors?.required">
                Dieses Feld muss ausgefüllt sein.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Passwort bestätigen" formControlName="passwordConfirm">
            <mat-error *ngIf="changePasswordForm?.get('passwordConfirm')?.errors?.required">
                Dieses Feld muss ausgefüllt sein.
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">Passwort ändern</button>
        <button mat-raised-button (click)="onClickClose($event)">Abbrechen</button>
    </form>
</mat-dialog-content>
