form {
  display: flex;
  flex-flow: row wrap;

  mat-form-field {
    flex: 1 100%;
    margin: 5px;
  }

  button {
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
