<h1>Flugbericht - {{ name }}</h1>

<div class="start-landing-container">
    <h3>Von {{ dummyFlight.start }} nach {{ dummyFlight.destination }}</h3>
    <mat-card>
        <div>Start:</div>
        <button mat-raised-button (click)="start(dummyFlight)" [disabled]="isStarted">Starten</button>
        <div>
            <div *ngIf="dummyFlight.startTime">Gestartet am: {{dummyFlight.startTime | date: 'dd.MM.yyyy'}} um {{dummyFlight.startTime | date: 'HH:mm'}}Uhr

            </div>
        </div>
        <div>Landung:</div>
        <button mat-raised-button (click)="land(dummyFlight)" [disabled]="!isStarted">Landen</button>
        <div>
            <div *ngIf="dummyFlight.arrivalTime">Gelandet am: {{dummyFlight.arrivalTime | date: 'dd.MM.yyyy'}}
                um {{dummyFlight.arrivalTime | date: 'HH:mm'}}
                Uhr
            </div>
        </div>
        <div>Panne:</div>
        <button mat-raised-button (click)="hasDelay = true">Panne</button>
        <div></div>
        <div>Voraussichtliche Verzögerung:</div>
        <mat-form-field>
            <input type="number" matInput name="delay" [disabled]="!hasDelay">
        </mat-form-field>
    </mat-card>
</div>
