<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar routerLink="/">Baden Air</mat-toolbar>
        <mat-nav-list>
            <a *ngIf="!loggedIn" mat-list-item (click)="login()">Login</a>
            <a *ngIf="loggedIn" mat-list-item (click)="logout()">Logout</a>
            <a *ngIf="loggedIn" mat-list-item routerLink="/shiftSchedule">Schichtplan</a>
            <a *ngIf="loggedIn" mat-list-item routerLink="/vacation-planning">Urlaubsplanung</a>
            <a *ngIf="loggedIn" mat-list-item routerLink="/time">Zeiterfassung</a>
            <a *ngIf="loggedIn && isPilot()" mat-list-item routerLink="/start-landing">Start/Landung</a>
            <a *ngIf="loggedIn && isFlightDirector()" mat-list-item routerLink="/flightoverview">Flugplan</a>
            <a *ngIf="loggedIn && isTechnician()" mat-list-item routerLink="/maintenance">Wartungsergebnisse</a>
            <a *ngIf="loggedIn" mat-list-item routerLink="/serviceSchedule">Bereitschaftsdienst</a>
            <a *ngIf="loggedIn && isGround()" mat-list-item routerLink="/baggage">Gepäckverfolgung</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button mat-button routerLink="/" class="logo">Baden Air</button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn"
                routerLink="/shiftSchedule"
                mat-button>
                Schichtplan
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn"
                routerLink="/vacation-planning"
                mat-button>
                Urlaubsplanung
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn"
                routerLink="/time"
                mat-button>
                Zeiterfassung
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn && isGround()"
                routerLink="/baggage"
                mat-button>
                Gepäckverfolgung
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn && isPilot()"
                routerLink="/start-landing"
                mat-button>
                Start/Landung
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn && isFlightDirector()"
                routerLink="/flightoverview"
                mat-button>
                Flugplan
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn && isTechnician()"
                routerLink="/maintenance"
                mat-button>
                Wartungsergebnisse
            </button>
            <button
                *ngIf="!(isHandset$ | async) && loggedIn"
                routerLink="/serviceSchedule"
                mat-button>
                Bereitschaftsdienst
            </button>
            <span class="fill-space"></span>
            <span
                *ngIf="!(isHandset$ | async)">
                <button *ngIf="!loggedIn"
                    (click)="login()"
                    mat-flat-button>
                    Login
                </button>
                <button *ngIf="loggedIn"
                    (click)="logout()"
                    mat-flat-button>
                    Logout
                </button>
            </span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
