<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar routerLink="/">Baden Air</mat-toolbar>
        <mat-nav-list>
            <a *ngIf="!isLoggedIn" mat-list-item (click)="login()">Login</a>
            <ng-container *ngIf="isLoggedIn">
                <a mat-list-item (click)="logout()">Logout</a>
                <a mat-list-item routerLink="/shiftSchedule">Schichtplan</a>
                <a mat-list-item routerLink="/vacation-planning">Urlaubsplanung</a>
                <a mat-list-item routerLink="/time">Zeiterfassung</a>
                <a *ngIf="isPilot()" mat-list-item routerLink="/start-landing">Start/Landung</a>
                <a *ngIf="isFlightDirector()" mat-list-item routerLink="/flightoverview">Flugplan</a>
                <a *ngIf="isTechnician()" mat-list-item routerLink="/maintenance">Wartungsergebnisse</a>
                <a mat-list-item routerLink="/serviceSchedule">Bereitschaftsdienst</a>
                <a *ngIf="isGround()" mat-list-item routerLink="/baggage">Gepäckverfolgung</a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button mat-button routerLink="/" class="logo">Baden Air</button>
            <ng-container *ngIf="!(isHandset$ | async) && isLoggedIn">
                <button
                    routerLink="/shiftSchedule"
                    mat-button>
                    Schichtplan
                </button>
                <button
                    routerLink="/vacation-planning"
                    mat-button>
                    Urlaubsplanung
                </button>
                <button
                    routerLink="/time"
                    mat-button>
                    Zeiterfassung
                </button>
                <button
                    *ngIf="isGround()"
                    routerLink="/baggage"
                    mat-button>
                    Gepäckverfolgung
                </button>
                <button
                    *ngIf="isPilot()"
                    routerLink="/start-landing"
                    mat-button>
                    Start/Landung
                </button>
                <button
                    *ngIf="isFlightDirector()"
                    routerLink="/flightoverview"
                    mat-button>
                    Flugplan
                </button>
                <button
                    *ngIf="isTechnician()"
                    routerLink="/maintenance"
                    mat-button>
                    Wartungsergebnisse
                </button>
                <button
                    routerLink="/serviceSchedule"
                    mat-button>
                    Bereitschaftsdienst
                </button>
            </ng-container>
            <span class="fill-space"></span>
            <span *ngIf="!(isHandset$ | async)">
                <button *ngIf="!isLoggedIn"
                    (click)="login()"
                    mat-flat-button>
                    Login
                </button>
                <button *ngIf="isLoggedIn"
                    (click)="logout()"
                    mat-flat-button>
                    Logout
                </button>
            </span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
