<h2>Verfügbare Flüge</h2>
<app-flight *ngFor="let flight of shownFlights"
            [flight]="flight"
            [price]="flight.price"
            [numberOfPassengers]="numberOfPassengers"
            (bookingStateChanged)="onBookingStateChanged($event, flight.id)">
</app-flight>
<div class="actions">
    <button mat-raised-button color="primary" routerLink="">Zurück</button>
    <button mat-raised-button color="primary" [disabled]="bookedFlightsEmpty()" routerLink="/passengers">Weiter</button>
</div>
