:host {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;

  .mat-form-field {
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}
