.duration {
    border-top: 5px solid black;
    padding: 0 7%;
  }

  .small{
    font-size: 0.8em;
  }
  .medium {
    font-size: 1.2em;
  }

  .large {
    font-size: 1.3em;
    font-weight: bold;
  }

  .navigation-buttons {
    margin-top: 30px;
  }
  