<h1>Buchungsübersicht</h1>
<mat-card>
    <mat-card-content>
        <h2>Flüge</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="flight; else loading">

            <app-flight-info [time]="flight.startTime" [location]="flight.start"></app-flight-info>
            <p class="duration">{{getDuration() | date:'HH:mm:ss'}}</p>
            <app-flight-info [time]="flight.arrivalTime" [location]="flight.destination"></app-flight-info>
            <ng-container *ngIf="passengers">
                <p class="medium">Passagiere: {{passengers.length}}</p>
                <div class="price">
                    <p class="medium">{{155 | currency:'EUR'}}</p>
                </div>
            </ng-container>

        </div>
        <mat-divider></mat-divider>
        <h2>Passagiere und Gepäck</h2>
        <div  *ngFor="let passenger of passengers">
            <h3>{{passenger.name}} {{passenger.surname}}</h3>
            <div fxLayoutAlign="space-between" *ngIf="passenger.baggage1 !== 0"><p class="medium">1x Gepäckstück ({{passenger.baggage1}}kg)</p><p class="medium">{{passenger.baggage1 | currency:'EUR'}}</p></div>
            <div fxLayoutAlign="space-between" *ngIf="passenger.baggage2 !== 0"><p class="medium">1x Gepäckstück ({{passenger.baggage2}}kg)</p><p class="medium">{{passenger.baggage2 | currency:'EUR'}}</p></div>
            <div fxLayoutAlign="space-between" *ngIf="passenger.baggage3 !== 0"><p class="medium">1x Gepäckstück ({{passenger.baggage3}}kg)</p><p class="medium">{{passenger.baggage3 | currency:'EUR'}}</p></div>
            <div fxLayoutAlign="space-between" *ngIf="passenger.baggage4 !== 0"><p class="medium">1x Gepäckstück ({{passenger.baggage4}}kg)</p><p class="medium">{{passenger.baggage4 | currency:'EUR'}}</p></div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end" class="large"><p>Zu zahlender Betrag: {{245 | currency: 'EUR'}}*</p></div>
        <p class="small">*Der Betrag wird von der im Profil hinterlegten Zahlungsmethode abgebucht.</p>
    </mat-card-content>
</mat-card>
<div fxLayoutAlign="space-between" class="navigation-buttons">
    <button mat-raised-button routerLink="/flights">Zurück</button>
    <button mat-raised-button color="primary" type="submit" routerLink="/overview">Buchung bestätigen</button>
</div>


<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
