.duration {
  border-top: 5px solid black;
  padding: 0 7%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: -5px;
    width: 20px;
    border-top: 4px solid black;
    transform: rotate(40deg) skewX(40deg);
    transform-origin: right;
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: -4px;
    width: 20px;
    border-top: 4px solid black;
    transform: rotate(-40deg) skewX(-40deg);
    transform-origin: right;
  }
}


.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.2em;
}

.large {
  font-size: 1.3em;
  font-weight: bold;
}

.navigation-buttons {
  margin-top: 30px;
}
