<form [formGroup]="updateBaggageForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-select formControlName="stateSelect" placeholder="Status auswählen...">
            <mat-option value="{{baggageStates.AT_TRAVELLER}}">Beim Reisenden</mat-option>
            <mat-option value="{{baggageStates.ON_BAGGAGE_CAROUSEL}}">Auf dem Gepäckband</mat-option>
            <mat-option value="{{baggageStates.IN_LUGGAGE_HALL}}">In der Gepäckhalle</mat-option>
            <mat-option value="{{baggageStates.ON_LUGGAGE_CART}}">Auf dem Gepäckwagen</mat-option>
            <mat-option value="{{baggageStates.ON_PLANE}}">Im Flugzeug</mat-option>
            <mat-option value="{{baggageStates.READY_FOR_PICK_UP}}">Bereit zum Abholen</mat-option>
        </mat-select>
        <mat-error *ngIf="updateBaggageForm?.get('stateSelect')?.errors?.required">
            Es muss ein Status ausgewählt sein.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="baggageId" placeholder="Gepäckstücknummer"/>
        <mat-error *ngIf="updateBaggageForm?.get('baggageId')?.errors?.required">
            Dieses Feld muss ausgefüllt sein.
        </mat-error>
    </mat-form-field>
    <div class="action">
        <button type="submit" mat-raised-button color="primary" [disabled]="!updateBaggageForm.valid">Aktualisieren</button>
    </div>
</form>
