<h1>Wartungsergebnisse:</h1>
<div class="plane-maintenance-container">
    <mat-card *ngFor="let plane of planes">
        <h3>{{ plane.name }}</h3>
        <div [class.state-defect]="plane.isDefect" class="state">
            Status: {{ plane.isDefect ? 'Defekt' : 'OK' }}
        </div>
        <div class="progress">
            <div class="progress-indicator"
                 [ngStyle]="getIndicatorLength(plane.distance)"></div>
        </div>
        <button mat-raised-button>Reparieren</button>
        <div>Zurückgelegte Strecke: {{ plane.distance }} km</div>
    </mat-card>
</div>
