<h1>Flugsuche</h1>
<form>
  <div gdColumns.gt-sm="3" gdColumns.sm="2" gdColumns.xs="1" gdGap="20px">
    <mat-radio-button gdColumn="1" gdColumn.xs="1" value="1">Hin- und Rückflug</mat-radio-button>
    <mat-radio-button gdColumn="2" gdColumn.xs="1" value="2">nur Hinflug</mat-radio-button>

    <mat-form-field gdColumn.gt-sm="1" gdColumn.xs="1">
      <input type="text" placeholder="Von" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field gdColumn.xs="1">
      <input type="text" placeholder="Nach" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field gdColumn.gt-sm="1" gdColumn.xs="1">
      <input matInput [matDatepicker]="pickerStart" placeholder="Hinreise Datum">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field gdColumn.xs="1">
      <input matInput [matDatepicker]="pickerDestination" placeholder="Rückreise Datum">
      <mat-datepicker-toggle matSuffix [for]="pickerDestination"></mat-datepicker-toggle>
      <mat-datepicker #pickerDestination></mat-datepicker>
    </mat-form-field>

    <mat-form-field gdColumn.gt-sm="3">
      <input name="personNumber" type="number" matInput required placeholder="Anzahl Passagiere"
             #personInput="ngModel"
             ngModel>
      <mat-error *ngIf="personInput.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div gdColumn.gt-sm="3" class="submit-button">
      <button type="submit" mat-raised-button>Suchen</button>
    </div>
  </div>
  
</form>
